/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Merriweather', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Karla', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.headerBG {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  min-width: 1000px;
}
.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerContent nav {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-family: "Roboto";
  opacity: 0.85;
}
.headerContent .main-head {
  padding: 0;
  margin: 117px auto;
}
.headerContent .navArrow {
  position: relative;
}
@media (max-width: 500px) {
  .headerContent .navArrow {
    top: -100px;
  }
}
.headerContent .navArrow .arrow {
  transition: transform 0.2;
  opacity: 0.5;
}
.headerContent .navArrow .arrow:hover {
  transform: scale(1.3);
}
.navbar-brand {
  margin-left: 0;
}
@media (max-width: 900px) {
  .navbar-brand {
    margin: 0 auto;
  }
}
.navbar-brand .navLogo {
  width: 40px;
}
@media (max-width: 900px) {
  .navbar-brand .navLogo {
    width: 80px;
  }
}
footer {
  margin-top: 75px;
  padding: 20px 0;
  background: #333333;
  color: white;
  text-align: center;
  font-family: "Karla";
}
footer .followTheTeam {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer .smIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p a {
  color: white;
}
footer p a:hover {
  text-decoration: none;
}
.home .welcomeBox {
  padding-top: 80px;
  width: 80%;
  height: 175px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 500px) {
  .home .welcomeBox {
    width: 80%;
    padding-top: 250px;
  }
}
.home .welcomeBox p {
  letter-spacing: 3px;
  color: #3384c6;
  font-family: 'Karla';
  font-size: 2.5rem;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .home .welcomeBox p {
    margin: 0 auto;
  }
}
.home .welcomeBox .niftyMarketline {
  margin-top: 120px;
  color: silver;
}
.home .welcomeBox button {
  text-decoration: none;
  font-family: "Karla";
  color: white;
  font-size: 2rem;
  background: #3384c6;
  border-radius: 6px;
  border: 1px solid #64b5f6;
  width: 200px;
  height: 45px;
}
.home .top-content {
  letter-spacing: 5px;
  display: flex;
  margin: 370px 10px 0;
  padding-bottom: 20px;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .top-content {
    display: flex;
    margin: 430px 0 auto;
  }
}
.home .top-content h1 {
  color: black;
}
@media (max-width: 900px) {
  .home .top-content h1 {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
.home .top-block {
  border-bottom: 1px solid black;
  margin: 0 auto;
  display: flex;
  width: 65%;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .home .top-block {
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.home .top-block .box {
  width: 100%;
  text-align: center;
}
.home .top-block .box h2 {
  color: #3384c6;
}
.home .top-block .box p {
  font-family: "Karla";
  color: #64b5f6;
}
@media (max-width: 500px) {
  .home .top-block .box p {
    margin: 0;
    padding-bottom: 20px;
    width: 100%;
  }
}
.home .middle-content {
  display: flex;
  justify-content: center;
}
.home .middle-content h1 {
  color: #3384c6;
}
.home #featureSubText {
  text-align: center;
  color: black;
  font-family: 'Karla';
}
.home .bottomSection {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .home .bottomSection {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.home .bottomSection .infoBox {
  display: flex;
  width: 49.5%;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 10px 2rem 2rem;
  background-color: #3384c6;
}
@media (max-width: 500px) {
  .home .bottomSection .infoBox {
    width: 95%;
  }
}
.home .bottomSection .infoBox h3 {
  letter-spacing: 8px;
  color: white;
  font-size: 2.5rem;
  border-bottom: 1px solid white;
}
.home .bottomSection .infoBox p {
  margin-top: 3rem;
  color: white;
  font-family: 'Karla';
}
.teamContainer {
  height: 800px;
}
.teamContainer header {
  background-image: none;
}
.teamContainer header nav {
  opacity: 1;
}
.teamContainer .meetTheTeam {
  margin: 0 5%;
  margin-bottom: 20px;
}
.teamContainer .cardLayout {
  display: flex;
}
.teamContainer .cardLayout .card {
  margin: 0 5%;
}
.teamContainer .cardLayout .card h3 {
  font-size: 2rem;
}
.teamContainer .cardLayout .card h4 {
  font-size: 1.2rem;
  color: #3384c6;
}
.teamContainer .cardLayout .card .btn {
  background-color: white;
  border: none;
}
.teamContainer .cardLayout .card .btn .btn-primary {
  background: none;
}
.teamContainer .cardLayout .card .btn:hover {
  border: 1px solid #3384c6;
}
