/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  background-color: gray;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: darkred;
  padding: 6px 0;
}
header nav {
  text-align: left;
}
header nav .navBar-items {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header nav .navBar-items .navBarLogo {
  width: 50px;
  height: auto;
}
header nav .navBar-items a {
  font-size: 1.7rem;
  text-decoration: none;
  color: #E7E7E7;
}
header nav .navBar-items a:hover {
  color: #fcfdfe;
}
.carousel {
  position: relative;
  height: 1000px;
  width: 100%;
  margin: 0 auto;
}
.carousel .carousel_track-container {
  height: 100%;
  position: relative;
}
.carousel .carousel_track-container .carousel_track {
  margin: 0;
  padding: 0;
  list-style: none;
}
.carousel .carousel_track-container .carousel_track .carousel_slide {
  position: absolute;
  width: 100%;
}
.carousel .carousel_track-container .carousel_track .carousel_slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousel .backButton {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  left: 0;
}
.carousel .backButton img {
  width: 70px;
}
.carousel .nextButton {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.carousel .nextButton img {
  width: 70px;
}
.carousel .carousel_nav {
  background: red;
}
.carousel .carousel_nav .carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  margin: 0 15px;
}
