// .carousel {
//     position: relative;
//     height: 1000px;
//     width: 100%;
//     margin: 0 auto;
//     .carousel_track-container {
//         height: 100%;
//         position: relative;
//         .carousel_track {
//             margin: 0;
//             padding: 0;
//             list-style: none;
//             .carousel_slide {
//                 position: absolute;
//                 width: 100%;
//                 img {
//                     height: 100%;
//                     width: 100%;
//                     object-fit: cover;
//                 }
//             }
//         }
//     }
//     .carouselButtons {
//         .backButton {
//             position: absolute;
//             top: 50%;
//             transform: translateY(50%);
//             background: transparent;
//             border: 0;
//             cursor: pointer;
//             left: 0;
//             img {
//                 width: 70px;
//             }
//         }
//         .nextButton {
//             right: 0;
//             position: absolute;
//             top: 50%;
//             transform: translateY(50%);
//             background: transparent;
//             border: 0;
//             cursor: pointer;
//             img {
//                 width: 70px;
//             }
//         }
//     }
//     .carousel_nav { 
//         background: red;
//         .carousel_indicator {
//         border: 0;
//         border-radius: 50%;
//         width: 15px;
//         margin: 0 15px;
//         }
//     }
// }

.container { 
    .welcomeBox {
        padding-top: 20px;
        width: 50%;
        height: 175px;
        display: block;
        margin: 0 auto;
        text-align: center;
        p {
            font-family: 'Franklin Gothic Medium';
            font-size: 2.5rem;
        }
        button {
            text-decoration: none;
            color: white;
            font-size: 2rem;
            background: darkred;
            border-radius: 10px;
            border: 1px solid black;
            width: 200px;
            height: 45px;
        }
        button:hover {
            background: white;
            color: darkred;
        }
    }
    .top-content {
        display: flex;
        margin: 10px 0;
        padding-bottom: 20px;
        justify-content: center;
        h1 {
            color: black;
        }
    }
    .top-block {
        border-bottom: 1px solid black;
        margin: 0 auto;
        display: flex;
        width: 70%;
        justify-content: space-evenly;
        background-color: #fff;
        margin-bottom: 20px;
        padding-bottom: 20px;
        .box {
            width: 20%;
            text-align: center;
        }
        h2 {
            color: darkred;
        }
    }
    .middle-content {
        display: flex;
        justify-content: center;
        h1 {
            color: black;
        }
    }
    #featureSubText {
        text-align: center;
        color: darkred;
    }
    .featuredItems {
        display: flex;
        width: 70%;
        margin: 0 auto;
        justify-content: space-evenly;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
        img {
            border-radius: 5px;
            width: auto;
            height: auto;
        }
        p {
            text-align: center;
            border-bottom: 1px solid black;
        }
    }
    .whoAreWe {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid black;
        border-radius: 2rem;
        padding: 2rem;
        margin: 3rem;
        background: darkred;
        h3 {
            color: white;
            font-size: 2.5rem;
        }
        p {
            color: white;
            font-family: 'Karla';
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-top: 1px solid black;
    background: lightcoral;
    width: 100%;
    height: 40px;
    p {
        font-family: 'sans-serif';
    }
}