header {
    background-color: darkred;
    padding: 6px 0;
    nav {
        text-align: left;
        .navBar-items{
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .navBarLogo {
                width: 50px;
                height: auto;
            }
            a {
                font-size: 1.7rem;
                text-decoration: none;
                color: @nav-color;
            }
            a:hover {
                color: @font-color;
            }
        }
    }
}
